<!DOCTYPE html>
{% load static %}
<html>

	<head>
		<title>Maryland Basketball Lineup Stats</title>		
	<head>

	<body>
		<h1>Maryland Basketball Lineup Stats</h1>
		<select onchange="location = this.options[this.selectedIndex].value;">
			<option value="2014" {% if season == "2014" %} selected {% endif %}>2013-2014</option>
			<option value="2015" {% if season == "2015" %} selected {% endif %}>2014-2015</option>
			<option value="2016" {% if season == "2016" %} selected {% endif %}>2015-2016</option>
			<option value="2017" {% if season == "2017" %} selected {% endif %}>2016-2017</option>
			<option value="2018" {% if season == "2018" %} selected {% endif %}>2017-2018</option>
		</select>
		<h3>Data for {{gamesCount}} games through {{ latestGame }}</h3>

		<a href="/filter/{{season}}">Change filter criteria</a><br />

		{% if includeFilterString or excludeFilterString or possessionFilterString or conferenceFilterString or gameFilterString or homeAwayFilterString%}
			<p>Filters:</p>
			<ul type="square">
				{% if includeFilterString %}
					<li>{{ includeFilterString }}</li>
				{% endif %}
				{% if excludeFilterString %}
					<li>{{ excludeFilterString }}</li>
				{% endif %}
				{% if possessionFilterString %}
					<li>{{ possessionFilterString }}</li>
				{% endif %}
				{% if conferenceFilterString %}
					<li>{{ conferenceFilterString }}</li>
				{% endif %}
				{% if homeAwayFilterString %}
					<li>{{ homeAwayFilterString }}</li>
				{% endif %}
				{% if gameFilterString %}
					<li>{{ gameFilterString }}</li>
				{% endif %}				
			</ul>
		{% endif %}
		<table border='1' class="sortable">
		<thead>
			<tr>
				{% for header in tableHeaders %}
				<th>{{header}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for dataRow in data %}
				<tr>
					{% for data in dataRow %}
					<td>{{data}}</td>
					{% endfor %}					
				</tr>
			{% endfor %}
		</tbody>
		</table>


		<a href="/about/">About</a><br />
		<script src="{% static 'js/sorttable.js' %}"></script>
	</body>

</html>